
.container {
    display: grid;
    gap: 30px;
    font-family: 'Montserrat';
    justify-content: center;
    justify-items: center;
    height: 80vh;
}

.container h1 {
    text-align: center;
}

.score_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.player_score_1 {
    display: grid;
    border: 2px solid red;
    font-size: 16px;
    font-weight: bold;
}

.player_score_2 {
    display: grid;
    border: 2px solid blue;
    font-size: 16px;
    font-weight: bold;
}

.score_container img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.board {
    display: grid;
    width: 320px;
    height: 320px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}
.cell {
    background-color: lightcyan;
    width: 100px;
    height: 100px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    background-color: cyan;
}

button {
    font-size: 16px;
    font-weight: bold;
    width: 128px;
    height: 48px;
    border: 2px none;
    border-radius: 20px;
}

button:hover {
    background-color: blueviolet;
}